@use "../../styles/abstracts" as *;

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wrapper {
  position: fixed;
  width: min($desktop, 100%);
  margin-top: -2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:  0 0 1rem 1rem;
  background: linear-gradient(
                  270deg,
                  $cl-primary,
                  $cl-secondary,
                  $cl-fio,
  );
  background-size: 600% 600%;
  color: white;
  transition: transform 0.3s ease;
  animation: gradientShift 5s ease 0s 3 forwards;
  z-index: 20;
}
