@use "../../../styles/abstracts/index" as *;

.linkContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #fd94c0;

  @media (max-width: $ipad) {
    font-size: $fs-secondary;
  }

  @media (max-width: $mobile) {
    font-size: $fs-mobile;
  }
}

.secondary {
  color: black;
}

.primary {
  color:  $cl-brown;
  font-weight: $fw-semiBold;
}
