@use "../../../styles/abstracts/index" as *;
@use "../../../styles/mixins/index" as *;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: $box-radius $box-radius 0 0;
  overflow: hidden;
  position: relative;
  padding: 0;

  @media (max-width: $ipad) {
    height: 200px;
    padding: 0.1rem;
  }
}

.name {
  display: -webkit-box;
  -webkit-line-clamp: 2; // количество строк
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.imgWrapper {
  height: 300px;
  position: relative;

  @media (max-width: $ipad) {
    height: 200px;
    padding: 0.1rem;
  }
}

.badges {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 1;
}

.like {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.price {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
  border-radius: $box-radius-primary;;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: left;
}

.review {
  @include flex-center;
  gap: 0.5rem;
}

